# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
*/runs/server/*
*/runs/client/*
*/runs/data/*
!*/runs/client/options.txt


/fabric/src/generated/
/neoforge/src/generated/
/forge/src/generated/
